html, body {
    height: 100%;
    margin: 0;
}

body{
    background: linear-gradient(#2A7B9B,#57C785,#EDDD53);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    margin-top: -3%;
    margin-left: 22%;
}
#topo{
    text-align: center;
    height: 40%;
    margin-left: 1%;
}

h1{
    margin-top: -2%;
}

img{
    width: 300px;
}

#buscaCep{
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    height: 30px;
    margin-left: 43%;
}

button{
    border-radius: 5px;
    height: 35px;
}

.dados{
  width: 200px;
  padding: 30px;
  border-radius: 20px;
  font-size: 20px;

  /* Efeito vidro */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  color: #000;
  text-align: center;
  display: inline-block;
  margin-top: 5%;
}

#titulos{
    height: 30px;
    display: inline-flex;
    margin-left: 25%;
    font-size: 30px;
    gap: 130px;
}

@media (max-width: 800px){
    main{
        width: 500px;
        height: 100px;  
        margin-left: 10px; 
    }
    .dados{
        width: 25px;
        display: inline-flex;
        margin-left: 3px;
        font-size: 10px;
    }   

    #titulos{
        font-size: 15px;
        width: 30px;
        height: 40px;
        gap: 30px;
        margin-left: 5%;
    }
    #buscaCep{
        font-size: 20px;
        border-radius: 5px;
        height: 30px;
        margin-left: 15%;
        margin-top: 15%;
    }

    h1{
        margin-top: -10%;
    }
    button{
        margin-left: 20%;
    }
}
